In [1]:
import pandas as pd
import json
import re

In [2]:
# Deliverable 1

# Read the contacts string data into a Pandas DataFrame
backers_string_df = pd.read_csv("backer_info.csv")
backers_string_df.head()

                                         backer_info
0  {"backer_id": "av166", "cf_id": 968, "name": "...
1  {"backer_id": "ha127", "cf_id": 563, "name": "...
2  {"backer_id": "lg794", "cf_id": 65, "name": "L...
3  {"backer_id": "tb566", "cf_id": 563, "name": "...
4  {"backer_id": "lh506", "cf_id": 563, "name": "...

In [3]:
# Retrieve the data from the "contact_info" column.
# backers_string_list = backers_string_df.backer_info.to_list()
# backers_string_list

In [4]:
# Pop out the unique identification number using list slicing. 
#print(backers_string_list[0][:15])
#print(backers_string_list[0][15:19])

In [5]:
# Pop out the unique identification number using list comprehension and slicing. 
#print([x[15:19] for x in backers_string_list])

In [6]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

backers_string_df['backer_id'] = backers_string_df['backer_info'].str.extract(r'([a-z]+\d{3})')
backers_string_df.head()

,backer_info,backer_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506

In [8]:
#backers_string_df['cf_id'] = backers_string_df['backer_info'].str.extract(r'(\d{2,4})')
#backers_string_df.head()

,backer_info,backer_id,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,NaN
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,NaN
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,NaN
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,NaN
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,NaN

In [ ]:
backers_string_df['email'] = backers_string_df['backer_info'].str.extract(r'([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})')
backers_string_df.head()

In [ ]:
backers_string_df['name'] = backers_string_df['backer_info'].str.extract(r'([a-zA-Z]+\s+[a-zA-Z]+)')
backers_string_df.head()

In [ ]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 

backers_string_df[['backer_id', 'cf_id', 'name', 'email']]

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [ ]:
# Check data types.
print(backers_string_df.dtypes)

In [ ]:
# Convert cf_id to an integer if necessary.
backers_string_df['cf_id'] = pd.to_numeric(backers_string_df['cf_id'], errors='coerce').astype(int)

In [ ]:
# Split the "name" column into "first_name" and "last_name" columns.
backers_string_df[['first_name', 'last_name']] = backers_string_df['name'].str.split(" ", expand=True)

# Check the data types
print(backers_string_df.dtypes)

In [ ]:
#  Drop the name column
backers_string_df = backers_string_df.drop("name", axis=1)

In [ ]:
print(backers_string_df.dtypes)

In [ ]:
#  Drop the backer_info column
backers_string_df = backers_string_df.drop("backer_info", axis=1)

In [ ]:
print(backers_string_df.dtypes)

In [ ]:
# Reorder column
backers_string_df[['backer_id', 'cf_id', 'first_name', 'last_name']]

In [ ]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_string_df.to_csv('backers.csv', encoding='utf8', index=False)