In [5]:
import pandas as pd
import json
import re

# Read the contacts string data into a Pandas DataFrame
backers_data_df = pd.read_csv("backer_info.csv")
backers_data_df.head()

                                         backer_info
0  {"backer_id": "av166", "cf_id": 968, "name": "...
1  {"backer_id": "ha127", "cf_id": 563, "name": "...
2  {"backer_id": "lg794", "cf_id": 65, "name": "L...
3  {"backer_id": "tb566", "cf_id": 563, "name": "...
4  {"backer_id": "lh506", "cf_id": 563, "name": "...

In [6]:
backers_data_df['backer_id'] = backers_data_df['backer_info'].str.extract(r'(\d{4})')
backers_data_df.head()

                                         backer_info backer_id
0  {"backer_id": "av166", "cf_id": 968, "name": "...       NaN
1  {"backer_id": "ha127", "cf_id": 563, "name": "...       NaN
2  {"backer_id": "lg794", "cf_id": 65, "name": "L...       NaN
3  {"backer_id": "tb566", "cf_id": 563, "name": "...       NaN
4  {"backer_id": "lh506", "cf_id": 563, "name": "...       NaN

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [3]:
# Iterate through the backers DataFrame and convert each row to a dictionary.

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

In [4]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists.

In [5]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [1]:
# Get the backers_info from the crowdfunding_info sheet. 
# pd.set_option('max_colwidth', 400)

In [2]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

In [3]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".

In [9]:
# Extract the name from the backer_info column and add it as a new column called "name".

In [10]:
# Extract the email from the backer_info column and add it as a new column called "email".

In [11]:
# Create a new DataFrame with the appropriate columns.

In [12]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [13]:
# Check data types.

In [14]:
# Convert cf_id to an integer if necessary.

In [15]:
# Split the "name" column into "first_name" and "last_name" columns.

In [16]:
#  Drop the name column


# Reorder the columns

In [17]:
# Export the DataFrame as a CSV file using encoding='utf8'.